@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  min-height: 1.5rem;
  height: fit-content;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p {
  margin: 0.5em 0;
}

.ProseMirror p:first-child {
  margin-top: 0;
}

.ProseMirror p:last-child {
  margin-bottom: 0;
}

/* Dark theme specific styles */
.prose-invert {
  --tw-prose-body: theme("colors.gray.200");
  --tw-prose-headings: theme("colors.white");
  --tw-prose-links: theme("colors.blue.400");
  --tw-prose-bold: theme("colors.white");
  --tw-prose-counters: theme("colors.gray.400");
  --tw-prose-bullets: theme("colors.gray.400");
  --tw-prose-quotes: theme("colors.gray.200");
  --tw-prose-code: theme("colors.white");
  --tw-prose-hr: theme("colors.gray.700");
  --tw-prose-th-borders: theme("colors.gray.700");
  --tw-prose-td-borders: theme("colors.gray.700");
}

/* Empty block placeholder */
.ProseMirror p.is-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
